<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AutoRentEntities" connectionString="metadata=res://*/AutoRentModel.csdl|res://*/AutoRentModel.ssdl|res://*/AutoRentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MICROSOFT-PC\SQLExpress;initial catalog=autorent.llc;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>